body {
  background-color: #ffc2b4;
  font-family: 'Lexend', sans-serif;
  text-align: center;
  font-weight: 300;
  margin: 50px;
}

.hidden {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*justify-items: center;*/
  align-items: center;
  justify-content: center; /*space-evenly;*/
}
/*.flex-section {
  flex-grow: 1;
  justify-items: center;
  align-items: center;
}*/
/*#train-model-button {
  width: 200px;
  --background-color: #1A73E8;
  --color: #ffffff;
}*/
/*#train-model-button:hover {
  --color: #1A73E8;
}*/

#intro {
  max-width: 877px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: #194350;
  font-weight: 700;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  color: #f05945;
  padding-bottom: 10px;
  margin: 0;
}

h4 {
  font-size: 20px;
  color: #194350;
  margin: 0;
}

p {
  font-size: 20px;
  color: #684d71;
  text-align: left;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 30px;
}

#intro h1 {
  margin-bottom: 0px;
}

#intro p {
  padding-bottom: 50px;
  font-size: 24px;
}

#images.flex-section {
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  /*width: 640px;*/
  height: 420px;
  overflow: hidden;
  margin: 0 auto;
}
#intro-image {
  max-width: 100%;
  width: 600px;
}

/*#buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100px;
}*/


.button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #9dbeb9; 
  color: black; 
  border: 2px solid #194350;
  border-radius: 5px;
}

.button1:hover {
  background-color: #194350;
  color: white;
  border-radius: 5px;
}

.button2 {
  background-color: #ff8882; 
  color: black; 
  border: 2px solid #f05945;
  border-radius: 5px;
}

.button2:hover {
  background-color: #f05945;
  color: white;
  border-radius: 5px;
}


